{% set just_var = 2 %}
Flags:  D - Down
        U - Up 

{{'----------------------------------------------------------------------------------------------------------------------------'}}
{{'%-20s'|format("Group")}}{{'%-30s'|format("Port-Channel")}}{{'%-20s'|format("Type")}}{{'%-15s'|format("Protocol")}}{{'%-15s'|format("Member Ports")}}
{{'----------------------------------------------------------------------------------------------------------------------------'}}
{% for dict in json_output %}
{{'%-20s'|format("1"|string)}}{{'%-18s'|format(dict['lagname'])}}{{'%-12s'|format(dict['oper_status'])}}{{'%-20s'|format("Eth")}}{{'%-15s'|format(dict['name'])}}{{'%-15s'|format(dict['members']|string|replace("[", "")|replace("]", ""))}}
{% endfor %}
